extends layout

block content
	div.container.main
		div.hero-unit
			h1 Poesía colaborativa
			p
			p Poesía colaborativa es una aplicación colaborativa e interactiva en tiempo real desarrollada con node.js, express, socket.io, jade y coffee-script.
			//p Álvaro Saco |  
				a(href="http://www.twitter.com/alvarosaco") @alvarosaco
			p
				a.btn.btn-primary.btn-large(href="https://github.com/alvarosaco/poesiacolaborativa") Descargar    