extends layout

block content
  each palabra, i in palabras
    div(class="draggable ui-draggable",style="position: absolute; top: #{palabra.y}px; left: #{palabra.x}px;",data-id="#{i}",id="#{i}")
      = palabra.texto
