div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="http://localhost:3000/") Poesía colaborativa

      ul.nav          
          li
            a(href="http://localhost:3000/") Inicio
          //li
            a(href="/nueva_palabra") Nueva palabra
          //li
            a(href="/guardar") Guardar
          li            
            a(href="/acerca") Acerca
      
      div.btn-group.pull-right
        a.btn
          i.icon-user 
          |  Usuario demo
            
        